#chatBody {
	margin:0 auto;
	white-space: pre-line;
	overflow:auto;
	width: 780px; 
    height: 475px;
    padding: 10px;
    position: relative;
    font-size: 10pt;
    font-family: Tahoma, Geneva, sans-serif;
}

#chatContainer {
  	height: 500px;
  	width: 800px;
  	margin:0 auto;
	border: 2px solid black;
	background-color: #d3d3d3;
}

#chatSubmit {
	display: table;
	margin: 0 auto;
	width: 798px;
	border: 2px solid black;
}